# Supabase - Criar em https://supabase.com/dashboard/project/_/settings/api
SUPABASE_URL=https://tsslcprkrlfhgcedecyv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzc2xjcHJrcmxmaGdjZWRlY3l2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyMjE5NjAsImV4cCI6MjA5Njc5Nzk2MH0.AckdssUT8gDtzFcrrJp9Oj-9pfpyhstdDYM_6lZbbco

# Porta do servidor (opcional, padrão 3001)
PORT=3001
